@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Feedback and questions:</strong>   <a href="mailto:jonas__nilsson@outlook.com">Mail me</a><br />
</address>